CAESAR_AI_SCAN_RUNTIME_MODE=planned_not_connected
CAESAR_AI_SCAN_SUPABASE_URL=REPLACE_ME
CAESAR_AI_SCAN_SUPABASE_SERVICE_ROLE_KEY=REPLACE_ME_DO_NOT_COMMIT_REAL_VALUE
CAESAR_AI_SCAN_CLOUDFLARE_WORKER_NAME=REPLACE_ME
CAESAR_AI_SCAN_INGESTION_ENABLED=false
CAESAR_AI_SCAN_EXTERNAL_FETCHING_ENABLED=false
CAESAR_AI_SCAN_SCHEDULER_ENABLED=false
